@model IEnumerable<ECClaimSystem.Models.ECClaim>

@{
    ViewBag.Title = "ShowListECClaim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<span class="text-danger">@ViewBag.Message</span>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            @if (Model.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th class="column-title">
                                    @Html.DisplayNameFor(model => model.Summary)
                                </th>
                                <th class="column-title">
                                    @Html.DisplayNameFor(model => model.Situation)
                                </th>
                                <th class="column-title">
                                    Effect
                                </th>
                                <th class="column-title">
                                    Submitted Date
                                </th>
                                <th class="column-title">
                                    @Html.ActionLink("Final Closure Date", "SortECClaim", "User", new { type = (int)ECClaimSystem.Models.Elements.ConstantsKey.SortType.ClosureDate }, new { @style = "color:white" })
                                </th>
                                <th class="column-title">
                                    Claim Status
                                </th>
                                <th class="column-title">
                                    Decision
                                </th>
                                <th class="column-title">
                                    @Html.DisplayNameFor(model => model.Active)
                                </th>
                                <th>

                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr class="even pointer">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Summary)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Situation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EffectSituation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubmittedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FinalClosureDate)
                                    </td>
                                    <td>
                                        @if (item.ClaimStatus == (int)ECClaimSystem.Models.Elements.ConstantsKey.ClaimStatus.Pending)
                                        {
                                            <span>Pending</span>
                                        }
                                        @if (item.ClaimStatus == (int)ECClaimSystem.Models.Elements.ConstantsKey.ClaimStatus.Processing)
                                        {
                                            <span>Processing</span>
                                        }
                                        @if (item.ClaimStatus == (int)ECClaimSystem.Models.Elements.ConstantsKey.ClaimStatus.Processed)
                                        {
                                            <span>Processed</span>
                                        }
                                        @if (item.ClaimStatus == (int)ECClaimSystem.Models.Elements.ConstantsKey.ClaimStatus.Rejected)
                                        {
                                            <span>Rejected</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.HasEvidence == true && item.FinalClosureDate.Value.AddDays(item.OutCome) > DateTime.Now)
                                        {
                                            @Html.DropDownListFor(modelItem => item.DecisionStatus, EnumHelper.GetSelectList(typeof(ECClaimSystem.Models.Elements.ConstantsKey.DecisionStatus), (ECClaimSystem.Models.Elements.ConstantsKey.DecisionStatus)item.DecisionStatus), "Select Decision", new { @class = "form-control", onchange = "UpdateDecision(this," + @item.ClaimId + ")" })


                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(modelItem => item.DecisionStatus, EnumHelper.GetSelectList(typeof(ECClaimSystem.Models.Elements.ConstantsKey.DecisionStatus), (ECClaimSystem.Models.Elements.ConstantsKey.DecisionStatus)item.DecisionStatus), "Select Decision", new { @class = "form-control", @style="disabled"})
                                        }

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td>
                                        @if (item.HasEvidence == true && item.FinalClosureDate.Value.AddDays(item.OutCome) > DateTime.Now)
                                        {
                                            @Html.ActionLink("Details", "Details", new { id = item.ClaimId })

                                        }
                                        | @Html.ActionLink("Send Email", null, new { onclick = "SendMail("+@item.ClaimId+")" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            }

        </div>
    </div>
</div>
<script>
    function UpdateDecision(item, id) {
        var value = $(item).val();
        var data = { decisionstatus: value, claimid: id };
        $.post("/ECCoordinator/UpdateDecision", data, function (response) {

        })
    }
    function SendMail(id) {
        var data = {id : id};
        $.post("/ECCoordinator/SendMail", data, function (response) {
            alert(response);
        })
    }
</script>
