@model ECClaimSystem.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Faculty> lsFaculty = new List<Faculty>();
    if (Session["Faculties"] != null)
    {
        lsFaculty = Session["Faculties"] as List<Faculty>;
    }
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            @using (Html.BeginForm("UpdateUser", "Administrator", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
            {
                @Html.AntiForgeryToken()
                @Html.ActionLink("Back To List", "GetAllUser")
                <span class="section">Update User Form</span>
               <span class="text-danger">@ViewBag.Message</span>
                @Html.TextBoxFor(model => model.UserId, new { @class = "form-control col-md-7 col-xs-12", @style = "visibility:hidden" })
                <div class="item form-group">

                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        Full Name
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.ValidationMessageFor(model => model.UserFullName, "", new { @class = "text-danger" })
                        <hr />
                        @Html.TextBoxFor(model => model.UserFullName, new { @class = "form-control col-md-7 col-xs-12" } )
                    </div>
                </div>
                <div class="item form-group">

                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        Address
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        <hr />
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control col-md-7 col-xs-12" })
                    </div>
                </div>
                <div class="item form-group">

                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        Email
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <hr />
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control col-md-7 col-xs-12" })
                    </div>

                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        Phone
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        <hr />
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control col-md-7 col-xs-12" })
                    </div>
                </div>
                <div class="item form-group">

                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        Gender
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        <hr />
                        @Html.DropDownListFor(model => model.Gender, EnumHelper.GetSelectList(typeof(ECClaimSystem.Models.Elements.ConstantsKey.Gender), (ECClaimSystem.Models.Elements.ConstantsKey.Gender)Model.Gender), "Select Gender", new { @class = "form-control" })
                    </div>



                </div>
                <div class="item form-group">

                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        BirthDay
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
                        <hr />
                        @Html.TextBoxFor(model => model.BirthDay, "{0:yyyy-MM-dd}", new { @class = "form-control col-md-7 col-xs-12", @type = "date" })

                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        Faculty
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      @Html.ValidationMessageFor(model => model.FacultyId, "", new { @class = "text-danger" })
                    <hr />
                      
                        @Html.DropDownListFor(model => model.FacultyId, new SelectList(lsFaculty, "FacultyId", "FacultyName", Model.FacultyId), "Select Faculty", new { @class = "form-control" })


                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        Role
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                        <hr />
                        @Html.DropDownListFor(model => model.RoleId, EnumHelper.GetSelectList(typeof(ECClaimSystem.Models.Elements.ConstantsKey.Role), (ECClaimSystem.Models.Elements.ConstantsKey.Role)Model.RoleId), "Select Role", new { @class = "form-control" })
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <input id="update" type="submit" class="btn btn-success" value="Update" />
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CancelUpdateUser","Administrator")'">Cancel</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>