@{
    ECClaimSystem.User u = new ECClaimSystem.User();
    if (Session["User"] != null)
    {
        u = Session["User"] as ECClaimSystem.User;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EC Claim System</title>
    @Styles.Render("~/Content/Admin/css")

    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/Scripts/custom.min.js"></script>
    <script src="~/Content/Scripts/daterangepicker.js"></script>
    <script src="~/Content/Scripts/icheck.min.js"></script>
    <script src="~/Content/Scripts/jquery.min.js"></script>
    <script src="~/Content/Scripts/moment.min.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"><span>EC Claim System!</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@u.UserFullName</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                @if (u.RoleId == (int)ECClaimSystem.Models.Elements.ConstantsKey.Role.Administrator)
                                {
                                    <li>
                                        @Html.ActionLink("EC Claims", "Index", "Administrator")
                                    </li>
                                    <li>
                                        @Html.ActionLink("User", "GetAllUser", "Administrator")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Setting", "GetAllSetting", "Administrator")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Statistics", "RedirectStatisticPage", "Administrator")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Reports", "RedirectReportPage", "Administrator")
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">

                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                              @Html.ActionLink("Logout", "Logout", "User", new { @class="user-profile dropdown-toggle"})  
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="min-height:1000px !important">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

</body>
</html>
